.carousel .carousel-indicators li {
    background-color: white;
}

.carousel .carousel-indicators li.active {
    background-color: #3e8e41;
}

.carousel-control-next,
.carousel-control-prev {
    color: #222222;
    border-color: white;
}

/* Style de la police */
body {
    font-family: "Open Sans", sans-serif;
}

/* Style du logo */
.logo {
    filter: drop-shadow(10px 10px 10px #a2a2a4);
    height: 400px;
}

.logo-nav {
    align-items: center;
    height: 40px;
    width: 40px;
}


/* Style de l'en-tête */
header {
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

/* Style des liens de la navigation */
.navbar-nav a {
    color: #222;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}


/* Style du formulaire de contact */
.form-group label {
    font-weight: bold;
    color: #555;
}

.form-control {
    border-radius: 0;
    border-color: #ccc;
}

.form-control:focus {
    border-color: #4CAF50;
    box-shadow: none;
}

.btn-primary {
    background-color: #4CAF50;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-primary:hover {
    background-color: #3e8e41;
}

/* Style du pied de page */
footer {
    background-color: #222;
    padding: 20px 0;
    color: #fff;
}

footer p {
    margin-bottom: 0;
}

/* Style du bouton de soumission */
button[type="submit"] {
    background-color: #0d6efd;
    border: none;
    color: #fff;
    padding: 10px 25px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #6c757d;
}

.facebook {
    color: black;
    transition: 0.3s;
}

.facebook:hover {
    color: #0d6efd;
}

.instagram {
    color: black;
    transition: 0.3s;
}

.instagram:hover {
    color: #ff206f;
}

.facebook-nav {
    color: #fff;
    transition: 0.3s;
}

.facebook-nav:hover {
    color: #0d6efd;
}

.instagram-nav {
    color: #fff;
    transition: 0.3s;
}

.instagram-nav:hover {
    color: #ff206f;
}

.img-carousel {
    height: 70vh;
    width: 85vw;
}

.carousel-caption.b {
    background-color: rgba(108, 117, 125, 30%);
    color: white;
}

.carousel-caption.no-b {
    top: 0.75rem;
}

.profil {
    position: relative;
    color: #fff;
}

.profil i {
    font-size: 1.5rem; /* changez la taille selon vos besoins */
}

hr {
    margin-top: 1px;
    margin-bottom: 1px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    border-radius: 0.25rem;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}

.dropdown-menu a {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #212529;
    font-size: 1rem;
}

.dropdown-menu a:hover {
    background-color: #f8f9fa;
}

.dropdown-icon {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0.25rem 0.25rem 0.25rem;
    border-color: transparent transparent #000 transparent;
    position: absolute;
    top: 50%;
    right: 0.75rem;
    transform: translateY(-50%);
}

.profil:hover .dropdown-menu {
    display: block;
}

.produit {
    height: 30%;
    width: 30%;
}

.fiche {
    height: 20vh;
    width: 20vw;
}

a {
    cursor: pointer;
}

.image-append {
    position: absolute;
    z-index: 2;
    max-width: 150%;
    height: auto;
    object-fit: contain;
}